{
  "extends": ["@grafana/eslint-config"],
  "ignorePatterns": ["e2e/"],
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "fixStyle": "inline-type-imports",
        "prefer": "type-imports"
      },
    ],
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
