name: CI
permissions:
  contents: read

on:
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn typecheck
      - run: yarn test:ci
      - run: yarn build
      - run: yarn verify-types
